@model IEnumerable<Project.Models.Transportadora>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrNit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrFax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrObservaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrNit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrFax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrObservaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StrNombre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StrNombre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StrNombre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
