@model Project.Models.Transportadora

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transportadora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrObservaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrObservaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StrNombre">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
