@model Project.Models.Indicador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Indicador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTamanoTrama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTamanoTrama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPosicionInicialPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPosicionInicialPeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTotalDatosPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTotalDatosPeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCaracterFinTrama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCaracterFinTrama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCaracterInicioTrama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCaracterInicioTrama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StrCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
