@model IEnumerable<Project.Models.Indicador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrTamanoTrama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrPosicionInicialPeso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrTotalDatosPeso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrCaracterFinTrama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrCaracterInicioTrama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrTamanoTrama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrPosicionInicialPeso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrTotalDatosPeso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrCaracterFinTrama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrCaracterInicioTrama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StrCodigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StrCodigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StrCodigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
