@model Project.Models.Ingreso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingreso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPlaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPlaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntCedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntCedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrFechaEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrFechaEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrFechaPesoVacio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrFechaPesoVacio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrHoraPesoVacio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrHoraPesoVacio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrFechaDespachoPlanta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrFechaDespachoPlanta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrHoraDespachoPlanta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrHoraDespachoPlanta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrFechaPesoLleno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrFechaPesoLleno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrHoraPesoLleno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrHoraPesoLleno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrFechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrFechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntTara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntTara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntNeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNoShipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNoShipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNoSello)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNoSello)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNoR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNoR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNoContenedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNoContenedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrOperario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrOperario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNickOperario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNickOperario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrObservaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrObservaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNoInterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNoInterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipoVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipoVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrEntregadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrEntregadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrRecibidoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrRecibidoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrVolumen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrVolumen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrMateriaPrima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrMateriaPrima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPlanta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPlanta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTransportadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTransportadora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrOrigen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntNoTiquete">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
