@model Project.Models.CodigoIdentificacionVial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CodigoIdentificacionVial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreEjeVia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreEjeVia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreExtremoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreExtremoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreExtremoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreExtremoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipoMalla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipoMalla)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StrCiv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
